Checks: '
  bugprone-*,
  clang-analyzer-*,
  google-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  concurrency-*,
  cppcoreguidelines-*,
  cert-dcl51-cpp,
  cert-dcl50-cpp,
  cert-dcl58-cpp,
  cert-err33-c,
  cert-err34-c,
  cert-err52-cpp,
  cert-err58-cpp,
  cert-err60-cpp,
  cert-flp30-c,
  cert-mem57-cpp,
  cert-msc50-cpp,
  cert-str34-c,
  cert-oop57-cpp,
  cert-oop58-cpp,
  hicpp-exception-baseclass,
  hicpp-multiway-paths-covered,
  hicpp-no-assembler,
  misc-definitions-in-headers,
  misc-misleading-bidirectional,
  misc-misplaced-const,
  misc-new-delete-overloads,
  misc-non-copyable-objects,
  misc-static-assert,
  misc-throw-by-value-catch-by-reference,
  misc-unconventional-assign-operator,
  misc-uniqueptr-reset-release,
  misc-unused-parameters,
  openmp-use-default-none,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -readability-identifier-length,
  -cppcoreguidelines-owning-memory,
  -readability-uppercase-literal-suffix,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -bugprone-easily-swappable-parameters,
  -modernize-use-trailing-return-type
  '
